/*START OF CSS*/

/*SELECTOR SECTION*/

*{

}

html{

}

body {

}


main{

}

address {

}

hr {

}

footer {

}

hr {

}

/*CLASSES SECTION*/

.header {
  background-color: #305C6B;
  width: 20%;
}
.site-header {
  background: #305C6B;
}

/* DONE: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

/*  Add styles for the icon-menu class. It should be bigger, and off to the right. */
.icon-menu {
  float: right;
  font-size: 2em;
}

.main-nav {
  padding: 0.1em;
  display: block;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px  solid #ccc;
}

.show-nav {
  display: block;

}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width:680px) {
  .icon-menu {
    display:none;
  }
  .main-nav ul {
    display: block;
    columns: 4;
  }


  }
}
/*ID SELECTOR SECTION*/
#display {
  display: block;
}

#filters {
  padding: 0;
  list-style: none;
}
